.container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.mainContent {
    flex: 1;
    /* Takes remaining space (60%) */
    height: 100%;
    overflow-y: auto;
    background-color: white;
}