.homeContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #080707;
}

.appName {
    color: #0070d2;
    /* Salesforce Blue */
    font-weight: bold;
}

.logo {
    max-width: 150px;
    height: auto;
}